<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .cauhoi {
            border-bottom: 1px solid gray;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home-student' %}">Hust Network</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'student_classes' %}">Danh sách lớp học của tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                </ul>
                <div class="nav-item">
                <a class="nav-link active text-secondary" aria-current="page" href="#">{{ request.user.username }}</a>
                </div>
                <div class="nav-item">
                <a class="nav-link active text-secondary" aria-current="page" href="{% url 'logout' %}">Đăng xuất</a>
                </div>
            </div>
            </div>
        </nav>

        <h2 class="text-primary">Làm bài tập: {{ assignment.name }}</h2>
        <form method="post" class="m-3">
            {% csrf_token %}
            
            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 1 (1đ)</h3>
                <label for="">STT gói tin (No.)</label>
                <input type="number" name="stt" ><br>
                <label for="">Địa chỉ IP nguồn</label>
                <input type="text" name="souIP" ><br>
                <label for="">Địa chỉ IP đích</label>
                <input type="text" name="desIP" ><br>
                <label for="">Số hiệu cổng nguồn</label>
                <input type="number" name="souPort" ><br>
                <label for="">Số hiệu cổng đích</label>
                <input type="number" name="desPort" ><br>

                <label for="">Gói tin này được đóng gói vào gói tin của giao thức tầng mạng nào?</label><br>
                <input type="radio" name="floor" value="1">
                <label for="">UDP</label>
                <input type="radio" name="floor" value="2">
                <label for="">TCP</label>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3 >Câu 2 (0.5đ)</h3>
                <label for="">STT gói tin</label>
                <input type="number" name="stt2" ><br>
                <label for="">Lý do</label><br>
                <textarea name="reason21" id="" rows="4" cols="50"></textarea>
                <br>
                <label for="">Máy đích có thể biết được gói tin này đã được truyền thành công hay không?</label><br>
                <input type="radio" name="success2" value="0">
                <label for="">Không</label>
                <input type="radio" name="success2" value="1">
                <label for="">Có</label>
                <br>
                <label for="">Lý do</label><br>
                <textarea name="reason22" id="" rows="4" cols="50"></textarea>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 3 (2.5đ)</h3>
                <label for="">Địa chỉ IP bên khởi tạo</label>
                <input type="text" name="souIP3"><br>
                <label for="">Địa chỉ IP bên đáp ứng</label>
                <input type="text" name="desIP3"><br>
                <label for="">Số hiệu cổng ứng dụng bên khởi tạo</label>
                <input type="number" name="souPort3"><br>
                <label for="">Số hiệu cổng ứng dụng bên đáp ứng</label>
                <input type="number" name="desPort3"><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">STT gói tin (No.)</th>
                            <th scope="col">Giá trị nhị phân của trường Flag</th>
                            <th scope="col">Các cờ được thiết lập</th>
                            <th scope="col">Sequence number</th>
                            <th scope="col">ACK number</th>
                            <th scope="col">Kích thước phần dữ liệu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="number" name="stt31">
                            </td>
                            <td>
                                <input type="text" name="nhiphan31">
                            </td>
                            <td>
                                <input type="text" name="flag31">
                            </td>
                            <td>
                                <input type="number" name="seq31">
                            </td>
                            <td>
                                <input type="number" name="ack31">
                            </td>
                            <td>
                                <input type="number" name="lenghtdata31">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name="stt32">
                            </td>
                            <td>
                                <input type="text" name="nhiphan32">
                            </td>
                            <td>
                                <input type="text" name="flag32">
                            </td>
                            <td>
                                <input type="number" name="seq32">
                            </td>
                            <td>
                                <input type="number" name="ack32">
                            </td>
                            <td>
                                <input type="number" name="lenghtdata32">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name="stt33">
                            </td>
                            <td>
                                <input type="text" name="nhiphan33">
                            </td>
                            <td>
                                <input type="text" name="flag33">
                            </td>
                            <td>
                                <input type="number" name="seq33">
                            </td>
                            <td>
                                <input type="number" name="ack33">
                            </td>
                            <td>
                                <input type="number" name="lenghtdata33">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 4 (2đ)</h3>
                <label for="">STT gói tin (No.):</label>
                <input type="number" name="stt4" ><br>
                <label for="">Địa chỉ IP bên khởi tạo</label>
                <input type="text" name="souIP4" ><br>
                <label for="">Địa chỉ IP bên đáp ứng</label>
                <input type="text" name="desIP4" ><br>
                <label for="">Số hiệu cổng ứng dụng bên khởi tạo</label>
                <input type="number" name="souPort4" ><br>
                <label for="">Số hiệu cổng ứng dụng bên đáp ứng</label>
                <input type="number" name="desPort4" ><br>
                <label for="">Sequence Number</label>
                <input type="number" name="seq4" ><br>
                <label for="">ACK Number</label>
                <input type="number" name="ack4" ><br>
                <label for="">Kích thước phần tiêu đề TCP (bytes)</label>
                <input type="number" name="lenghttcp4" ><br>
                <label for="">Kích thước phần dữ liệu (bytes)</label>
                <input type="number" name="lenghtdata4" ><br>
                <label for="">Các cờ được thiết lập</label>
                <input type="text" name="flag4" >
                <br>
                <label for="">Gói tin này được đóng gói vào gói tin của giao thức tầng mạng nào?</label><br>
                <input type="radio" name="floor4" value="1">
                <label for="">UDP</label>
                <input type="radio" name="floor4" value="2">
                <label for="">TCP</label>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 5 (2đ)</h3>
                <label for="">STT gói tin (No.):</label>
                <input type="number" name="stt5" ><br>
                <label for="">Địa chỉ IP nguồn</label>
                <input type="text" name="souIP5" ><br>
                <label for="">Địa chỉ IP đích</label>
                <input type="text" name="desIP5" ><br>
                <label for="">Số hiệu cổng nguồn</label>
                <input type="number" name="souPort5" ><br>
                <label for="">Số hiệu cổng đích</label>
                <input type="number" name="desPort5" ><br>
                <label for="">Sequence Number</label>
                <input type="number" name="seq5" ><br>
                <label for="">ACK Number</label>
                <input type="number" name="ack5" ><br>
                <label for="">Kích thước phần tiêu đề TCP (bytes)</label>
                <input type="number" name="lenghttcp5" ><br>
                <label for="">Kích thước phần dữ liệu (bytes)</label>
                <input type="number" name="lenghtdata5" ><br>
                <label for="">Các cờ được thiết lập</label>
                <input type="text" name="flag5" >
                <br>
                <label for="">Có thể kết luận chắc chắn Web Server đã nhận thành công gói tin ở bước 4 hay không?</label><br>
                <input type="radio" name="success5" value="0">
                <label for="">Không</label>
                <input type="radio" name="success5" value="1">
                <label for="">Có</label>
                <br>
                <label for="">Tại sao?</label><br>
                <textarea name="reason5" id="" rows="4" cols="50"></textarea>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 6 (0.5đ)</h3>
                <label for="">Gói tin tiếp theo chứa dữ liệu của file được Web Browser gửi đi có giá trị Sequence Number là bao nhiêu?</label>
                <input type="number" name="seq6">
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 7 (1đ)</h3>
                <label for="">STT gói tin (No.):</label>
                <input type="number" name="stt7" ><br>
                <label for="">Giá trị nhị phân của trường Flags</label>
                <input type="text" name="nhiphan7" ><br>
                <label for="">Các cờ được thiết lập</label>
                <input type="text" name="flag7" ><br>
                <label for="">Sequence Number</label>
                <input type="number" name="seq7" ><br>
                <label for="">ACK Number</label>
                <input type="number" name="ack7" ><br>
                <label for="">Kích thước phần dữ liệu (bytes)</label>
                <input type="number" name="lenghtdata7" ><br>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 8 (0.5đ)</h3>
                <label for=""> Tính thông lượng trung bình trên liên kết TCP trong quá trình upload file lên máy chủ</label>
                <input type="text" name="bps8">
            </div>

            <div class="d-flex justify-content-center">
                <input type="submit" name="submit" value="Nộp bài" class="btn btn-success mt-3 mb-4 p-3 fw-bold">
            </div>
        </form>
    </div>
</body>
</html>