<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .cauhoi {
            border-bottom: 1px solid gray;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home-student' %}">Hust Network</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'student_classes' %}">Danh sách lớp học của tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                </ul>
                <div class="nav-item">
                <a class="nav-link active text-secondary" aria-current="page" href="#">{{ request.user.username }}</a>
                </div>
                <div class="nav-item">
                <a class="nav-link active text-secondary" aria-current="page" href="{% url 'logout' %}">Đăng xuất</a>
                </div>
            </div>
            </div>
        </nav>

        <h2 class="text-primary">Làm bài tập: {{ assignment.name }}</h2>
        <form method="post" class="m-3">
            {% csrf_token %}
            
            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 1 (1đ)</h3>
                <label for="">STT gói tin (No.)</label>
                <input type="number" name="stt" ><br>
                <label for="">Giao thức tầng giao vận được sử dụng để gửi thông điệp đi</label>
                <input type="text" name="protocol"><br>
                <label for="">Địa chỉ IP nguồn</label>
                <input type="text" name="souIP" ><br>
                <label for="">Địa chỉ IP đích</label>
                <input type="text" name="desIP" ><br>
                <label for="">Số hiệu cổng nguồn</label>
                <input type="number" name="souPort" ><br>
                <label for="">Số hiệu cổng đích</label>
                <input type="number" name="desPort" ><br>
                <label for="">Đây là số hiệu cổng ứng dụng của dịch vụ nào?</label>
                <input type="text" name="port1">
                <label for="">Kiểu thông tin truy vấn(Type)</label>
                <input type="text" name="type1"><br>
                <label for="">Qua việc xác định các thông số mạng trên máy trạm của sinh viên ở mục 3.1, cho biết thông điệp này được gửi tới nút mạng nào?</label><br>
                <textarea name="reason12" id="" rows="1" cols="70"></textarea>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3 >Câu 2 (0.5đ)</h3>
                <label for="">STT gói tin (No.)</label>
                <input type="number" name="stt2" ><br>
                <label for="">Giao thức tầng giao vận được sử dụng để gửi thông điệp đi</label>
                <input type="text" name="protocol2"><br>
                <label for="">Địa chỉ IP nguồn</label>
                <input type="text" name="souIP2" ><br>
                <label for="">Địa chỉ IP đích</label>
                <input type="text" name="desIP2" ><br>
                <label for="">Số hiệu cổng nguồn</label>
                <input type="number" name="souPort2" ><br>
                <label for="">Số hiệu cổng đích</label>
                <input type="number" name="desPort2" ><br>
                <label for="">Kiểu thông tin truy vấn(Type)</label>
                <input type="text" name="type2"><br>
                <label for="">Tên miền được truy vấn</label>
                <input type="text" name="mien2">
                <label for="">Địa chỉ IP của tên miền được truy vấn</label>
                <input type="text" name="mienIP2">
                <label for="">Tại sao xác định được đây là thông điệp trả lời cho thông điệp yêu cầu ở bước 2?</label><br>
                <textarea name="reason2" id="" rows="1" cols="70"></textarea>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 3 (2.5đ)</h3>
                <label for="">Tên miền khác được truy vấn là</label>
                <input type="text" name="mien3">
                <label for="">Địa chỉ IP của tên miền đó là</label>
                <input type="text" name="mienIP3">
                <label for="">Tại sao</label>
                <input type="text">
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 4 (2đ)</h3>
                <label for="">Trước khi thông điệp HTTP đầu tiên được gửi đi tới máy chủ 
                    nct.soict.hust.edu.vn, máy trạm và máy chủ đã thực hiện quá trình gì?</label>
                <textarea name="reason4" id=""></textarea>
                <label for="">Số thứ tự (No) của các gói tin trong quá trình đó mà sinh viên quan sát được là gì?</label>
                <input type="text" name="stt41">
                <input type="text" name="stt42">
                <input type="text" name="stt43">
                <label for=""> Số hiệu cổng ứng dụng của các bên đã sử dụng là bao nhiêu?</label>
                <input type="number" name="port41">
                <label for=""> Số hiệu cổng ứng dụng trên máy chủ là cổng ứng dụng của dịch vụ nào?</label>
                <input type="text" name="port42">
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 5 (2đ)</h3>
                <label for="">Trong các thông điệp HTTP Request, có những thông điệp nào được gửi đi liên tiếp mà không đợi thông điệp trả lời từ máy chủ không?</label>
                <input type="text" name="thongdiep5">
                <label for=""> Nếu có, tại sao trình duyệt Web trên máy trạm thực hiện như vậy?</label>
                <textarea name="reason5" id="" rows="2" cols="70"></textarea>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 6 (0.5đ)</h3>
                <label for="">Giao thức tầng giao vận được sử dụng để truyền thông điệp</label>
                <input type="text" name="protocol6">
                <label for="">Số hiệu cổng ứng dụng đích</label>
                <input type="number" name="port6">
                <label for="">Phiên bản của giao thức HTTP mà máy trạm sử dụng</label>
                <input type="text" name="phienban6">
                <label for="">Giá trị của trường Connection trong tiêu đề HTTP</label>
                <input type="text" name="truong6">
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 7 (1đ)</h3>
                <label for="">Phiên bản của giao thức HTTP mà máy chủ sử dụng</label>
                <input type="text" name="phienban7" ><br>
                <label for="">Giá trị của trường Connection trong tiêu đề HTTP</label>
                <input type="text" name="truong7" ><br>
                <label for="">Phần thân chứa dữ liệu gì</label>
                <input type="text" name="data7" ><br>
                <label for="">Dữ liệu này có kích thước là bao nhiêu</label>
                <input type="number" name="length7" ><br>
                <label for="">Thông điệp này đóng gói trong bao nhiêu gói tin TCP</label>
                <input type="number" name="goi7" ><br>
                <label for="">Sau khi thông điệp này được gửi đi, kết nối TCP còn được duy trì không?</label>
                <textarea name="reason7" id="" rows="2" cols="70"></textarea>
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 8 (0.5đ)</h3>
                <label for="">Tên miền</label>
                <input type="text" name="mien8">
                <label for="">Địa chỉ IP</label>
                <input type="text" name="mienIP8" id="">
                <label for="">Tại sao máy trạm phát đi thông điệp này?</label>
                <textarea name="reason8" id="" rows="2" cols="70"></textarea>
                <label for="">Giá trị trường Referer</label>
                <input type="text" name="truong8" id="">
            </div>

            <div class="cauhoi mt-3 pb-3">
                <h3>Câu 9</h3>
                <label for="">Đoạn sau đây mô tả ngắn gọn quá trình xử lý truy cập vào một 
                    trang Web trên trình duyệt Web. Hãy điền vào chỗ trống cụm từ còn thiếu</label>
                <textarea name="thieu9" id=""></textarea>
            </div>

            <div class="d-flex justify-content-center">
                <input type="submit" name="submit" value="Nộp bài" class="btn btn-success mt-3 mb-4 p-3 fw-bold">
            </div>
        </form>
    </div>
</body>
</html>