<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết bài nộp của học sinh</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</head>
<body>
    {% load custom_tags %}
    <div class="container">
        {% include '../partials/nav.html' %}
        
        <h3 class="text-success">Bài nộp của sinh viên: {{ submission.student.username }}</h3>
        <h3 class="text-primary">Kết quả bài nộp cho {{ assignment.name }}</h3>
        <p>Thời gian nộp: {{ submission.submission_time }}</p>

        <h4>{{submission.answers}}</h4>
        <h4>{{submission.student_input}}</h4>   

        <div>
            <h3>Câu trả lời của sinh viên</h3>
            {% if show_score %}
                <p>Điểm của học sinh: {{ submission.score }}</p>
            {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Câu hỏi</th>
                        <th>Câu trả lời</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question, answer in submission.answers.items %}
                    <tr>
                        <td>{{ question }}</td> 
                        <td>{{ answer }}</td>
                        {% comment %} {% if show_score %}
                            {% if question|is_answer_correct:answer %}
                                <span style="color: green;">✔️</span>
                            {% else %}
                                <span style="color: red;">❌</span>
                            {% endif %}
                        {% endif %} {% endcomment %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
